body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
}

header {
  background-color: #222;
  color: white;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  width: 400px;
  margin: 40px 0 0 40px; /* en haut à gauche */
  background: rgba(255, 255, 255, 0.85);
  padding: 1.5em;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

h1, h2 {
  color: #333;
}

body#index {
  background: url("/LIVABLOM/assets/images/fondaccueil.jpg") no-repeat center top fixed;
  background-size: cover;
  position: relative;
  z-index: 0;
}

body#index::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Ombre foncée */
  z-index: -1;
}
