<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | LIVABLŌM</title>

  <!-- Tailwind CDN -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

  <!-- logo lotus -->
  <link rel="icon" href="{{ site.baseurl }}/assets/images/lotus.jpg" type="image/x-icon">
  <style>
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      font-family: 'Helvetica Neue', sans-serif;
    }
  </style>
</head>
<body class="bg-white text-gray-900">
  <main>
    {{ content }}
  </main>
</body>
</html>
